<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ROFLPlayer.RoflSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ROFLPlayer.RoflSettings>
            <setting name="LoLExecLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="StartupMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="MatchHistoryBaseUrl" serializeAs="String">
                <value>https://matchhistory.na.leagueoflegends.com/en/#match-details</value>
            </setting>
            <setting name="StartFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionString" serializeAs="String">
                <value>0.9B Beta</value>
            </setting>
        </ROFLPlayer.RoflSettings>
    </userSettings>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="lib" />
        </assemblyBinding>
    </runtime>
  
</configuration>